.git
.gitignore

.pytest_cache
.ruff_cache
.mypy_cache
.pytype

__pycache__
*.pyc
*.pyo
*.pyd

.venv
taskvenv

.env

.vscode
.idea

alembic/versions/__pycache__

*.db
*.sqlite3

node_modules

dist
build

coverage
htmlcov